# VCS
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/

# Environments/IDEs
.venv/
venv/
.idea/
.vscode/

# Build artifacts
build/
dist/
*.spec


# Local overrides
*.local.*
*.secrets.*

.git
__pycache__/